@import url("https://fonts.googleapis.com/css2?family=Recursive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive&family=Roboto&display=swap");

/* Main Styles */
* {
    box-sizing: border-box;
}

html {
   background-color: lightgray; 
}

body {
    font-family: Recursive, Arial;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: auto;
    align-content: center;
}

p {
    font-size: 15px;
}

/* Header and Navigation */
.header {
    text-align: center;
    padding: 32px;
}

.link-box {
    margin: auto;
    margin-bottom: 25px;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
}

.link {
    background-color: crimson;
    border-style: solid;
    border-width: 3px; 
    border-color: black;
    color: rgb(0, 0, 0);
    align-content: center;  
    text-decoration: none;
    font-family: Recursive, Arial, Helvetica, sans-serif;
    padding: 15px;
    max-width: 75%;
    margin: auto;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
}

.link:hover {
    background-color: lightgreen;
    cursor: pointer;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: black;
}

/* Contact Section */
.contact {
    background-color: crimson;
    border-style: solid;
    border-width: 3px; 
    border-color: black;
    color: rgb(0, 0, 0);
    align-content: center;  
    text-decoration: none;
    font-family: Recursive, Arial, Helvetica, sans-serif;
    padding: 10px;
    max-width: 75%;
    margin: auto;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}

/* Portfolio Items */
.portfolio-item {
    margin: 20px auto;
    text-align: center;
}

figure {
    margin: 10px auto;
}

figcaption {
    font-size: 15px;
    margin-top: 10px;
}

iframe {
    width: 500px; 
    height: 550px;
}
/* Grid Layout */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 10px;
}

.column img {
    margin-top: 4px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive Design */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}