@import url("https://fonts.googleapis.com/css2?family=Recursive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive&family=Roboto&display=swap");

.App {
  font-family: "Recursive", sans-serif;
  text-align: center;
  margin: auto;
  align-content: center;
}
.description {
  max-width: 500px;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-style: bold;
}

.button {
  font-family: "Roboto", sans-serif;
  height: 25px;
  outline-style: auto;
  background-color: #2563eb;
  color: aliceblue;
  font-size: 20px;
  padding: 15px;
  max-width: 500px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}
.button:hover {
  background-color: #1e40af;
  cursor: pointer;
  box-shadow: 0 3px 5px 0px darkgray;
  padding: 18px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  border: 1px solid;
  border-color: black;
}

.name {
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top: 10px;

  z-index: 1;
  margin-top: -30px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 10px;
  height: 50px;

  border: 0px solid black;
  box-shadow: 0 2px 5px 0px #93c5fd;
  background-color: whitesmoke;
}
/** Blinking border dode test **/
html,
body {
  margin: 0;
  padding: 0;
  outline-color: #3b82f6;
  outline-style: solid;
  outline-width: 10px;
  outline-offset: -10px;

  color: #222;
  animation-name: outline-color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

H1 {
  color: #222;
  animation-name: text;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes text {
  0% {
    color: #222;
  }
  50% {
    color: #4285f4;
  }
  100% {
    color: #222;
  }
}

@keyframes color {
  0% {
    background-color: #222;
  }
  50% {
    background-color: #4285f4;
  }
  100% {
    background-color: #222;
  }
}

@keyframes outline-color {
  0% {
    outline-color: #222;
  }
  50% {
    outline-color: #2563eb;
  }
  100% {
    outline-color: #222;
  }
}
/**  Added Css code from chatGpt for test  **/