html, body {
    background-color: #7C3AED;
    color:#E5E7EB;
    align-content: center;
    text-align: center;
    font-family: Helvetica, arial, sans-serif;
    margin: 0;
    padding: 200px 20px 20px 20px;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
    html, body {
        padding: 15px;
        font-size: 16px;
    }
    
    h1 {
        font-size: 1.5em;
        padding: 10px;
    }
}